
body  {
    min-height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}

.navbar{
    border: 1px solid #333;
    padding: 10px;
    display: flex;
    align-items: center;

}

.navbar a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}